@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{scroll-behavior:smooth}

.side-bar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    top: -1px;
    transition: all .5s ease;
}
.side-bar h1{
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #063146;
    line-height: 70px;
    user-select: none;
}
/* .side-bar ul {
    list-style: none;
} */
.side-bar ul a { 
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: 0.4s;
}
.side-bar ul li:hover a { 
    padding-left: 50px;
}
.side-bar ul a img {
    margin-right: 16px;
    width: 20px;
    height: 20px;
}
#check {
    display: none;
}
label #btn,
label #cancel {
    position: fixed;
    cursor: pointer;
    transition: all 0.5s ease;
}
label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    background: #042331;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 6px;
    
}
label #cancel {
    z-index: 1000;
    left: -195px;
    top: 17px;
    width: 25px;
    height: 25px;
    padding: 4px;
}
label img{
    width: 70%;
    height: 70%;
    margin: 5px;
    z-index: 100;
}
#check:checked  ~ .side-bar{
    left: 0;
}
#check:checked  ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    
}
#check:checked  ~ label #cancel{
    left: 195px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #3475ca; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
}
.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2 {
    color: #fff;
    font-size: 60px;
}

.site-slogan {
    font-size: 40px;
}
.site-slogan {
    color: #FFF;
    font-size: 27px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0;
}
.social-link {
    display: table;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    /* overflow: hidden; */
    text-align: center;
}
.social-profiles {
    margin: 0;
    padding: 0;
}

.social-profiles .item {
    display: inline-block;
    margin-top: 25px;
}
.social-profiles .item a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    color: #a6dbd1;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin: 3px;
    z-index: 0;
}
/* .social-profiles .item a:before {
    font-family: FontAwesome;
    font-size: 20px;
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-stack-overflow:before {
    content: "\f16c";
}
.fa-wordpress:before {
    content: "\f19a";
}
.fa-github:before {
    content: "\f09b";
}
.fa-facebook:before {
    content: "\f09a";
}
.social-profiles .item a:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background: transparent;
    z-index: -1;
} */
.social-profiles .item a span {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    text-align: center;
    color: #fff;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.social-profiles .item a img{
    width: 24px;
    height: 24px;
}
.social-profiles .item a:hover span{
    opacity: 1;
    left: 50px;
    top: -30px;
    width: auto;
    height: 20px;
    text-align: center;
}
.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    right: 70px;
}
.banner header .toggle {
    background: #162c3b;
    position: fixed;
    width: 36px;
    height: 28px;
    /* background: url(assets/toggle.png); */
    padding: 20px;
    background-size: cover;
    cursor: pointer;
}
.banner header .toggle img{
    width: 70%;
    height: 70%;
    margin: 5px;
}
.about {
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
}
.contentBx ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contentBx ul li{
    list-style: none;
    margin-top: 10px;
}
.contentBx ul li img{
    margin-right: 10px;
    top: -10px;
}
.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}
.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 1px;
}
.about .imgBx {
    background: url(assets/window.jpg);
    width: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.skills {
    background-color: #12222d;
    padding: 100px;
}
.skills .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 60px;
}
.skills .container .skillBx{
    position: relative;
    background: #fff;
    width: 300px;
    min-height: 400px;
    padding: 30px;
} 
.skills .container .skillBx ul{
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: disc;
}
.skills .container .skillBx ul li {
    color: #8c8c8c;
    margin-left: 30px;
}
.skills .container .skillBx h2 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #32323a;
}

.skillItems{
    margin-bottom: 30px;
}

.experiences {
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    display: flex;
    padding-top: 300px;
    margin-top: -300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8c8c8c;
}

.experience-item {
    background: #FFF;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.experience-item a {
    color: #428bca;
    text-decoration: none;
}
.experience-item .name-designation {
    width: 30%;
    text-align: right;
    padding-right: 45px;
    float: left;
}
.name-designation .designation {
    color: #32323a;
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.name-designation .name-of-org {
    font-size: 16px;
    color: #808080;
}
.experience-item .stay-time {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #f1f2f7;
    position: absolute;
    top: -8px;
    left: 30%;
} 
.light-green{
    background: lightgreen;
}
.light-yellow, .light-green, .light-violet, .light-blue {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.light-violet {
    background: #c0a9ea;
}
.experience-item:hover .light-violet,
.experience-item:hover .stay-time {
    transform: rotate(360deg);
    width: 130px;
    height: 130px;
    font-size: 13px;
}
.experience-items div:last-of-type {
    margin-bottom: 0;
}
.experience-item .comments {
    float: right;
    width: 53%;
}
.education-item .edu-title {
    text-align: center;
}
.edu-title .edu-session {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32323a;
}
.education-item {
    position: relative;
    background: #FFF;
    padding: 30px;
    padding-top: 70px;
    margin: 50px 0;
}
.education-item .edu-time {
    width: 100px;
    height: 100px;
    border: 10px solid #f1f2f7;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 16px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}
.edu-title .edu-inst {
    font-size: 16px;
    font-weight: 500;
    color: #808080;
}
.education-item .edu-comments {
    text-align: justify;
    border-top: 1px solid #dddfeb;
    padding-top: 10px;
}
.education-item:hover .light-green,
.education-item:hover .edu-time {
    transform: rotate(360deg);
    width: 120px;
    height: 120px;
    font-size: 13px;
}
@media (max-width: 1120px) {
    .skills .container .skillBx{
        width: 100%;
    }
}
@media (max-width: 960px) {
    .about .contentBx{
        width: 100%;
    }
    .about .imgBx {
        width: 500px;
    }
}